.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-caption h5,
.carousel-caption p {
    font-size: 1.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
}
